<p>PEACHTREE BANK</p>

<ng-container *ngIf="transactionList.length > 0">
  <div class="form-group">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="searchText"
             class="form-control" placeholder="Search By Category" />
    </div>
  </div>
  <button  (click)="sort('date')" type="button">DATE</button>
  <button  (click)="sort('beneficiary')" type="button">BENEFICIARY</button>
  <button  (click)="sort('amount')" type="button">AMOUNT</button>
  <table class="table table-striped table-sm">
    <tbody>
      <tr *ngFor="let item of transactionList | textFilter:searchText">
        <td style="width:5px" [ngStyle]="{'background-color': item.categoryCode }">
        </td>
        <td>
          {{item.dates.valueDate  | date:'MMM dd'}}
        </td>
        <td class = "container ">
          <img src="../../../assets/icons/{{ item.merchant.name.toLowerCase().split(' ').join('-') }}.png" />

        </td>
        <td>
          {{item.merchant.name}}
        </td>
        <td>
          <span *ngIf="item.transaction.creditDebitIndicator === 'CRDT'">-</span>${{item.transaction.amountCurrency.amount}}
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
