body {
    margin: 0px;
    margin-left:-8px;
    margin-right:-8px;
    padding: 0px;
}

.parent {
  display: grid;
  grid-template-columns: 10% 25% 1fr 10%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  @media only screen and (max-width: 750px) {

    .parent {

    grid-template-columns: 1fr;
	  grid-template-rows: auto auto;
	  grid-gap: 20px;


    }

  }

.div1 {
  grid-area: 1 / 2 / 2 / 3;
  width: 95%;
  margin: auto;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 95%;
  margin: auto;
}

.main-container {
  // display: flex;
  margin-top: 35px;
  width: 100%;
  justify-content: center;
}

.box-header {
  text-align: center;
  background-color: #478391;
  padding: 10px;
  color: white
}

.box-body {
  background-color: white;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input, label {
  display:block;
  width:100%
}

input#search {
  width: inherit;
  display: inline-block;
}
  //----

.container {
  width: 30px;
  height: auto;
}

/* resize images */
.container img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#main-div {
  background: url("../../../assets/imgs/background.jpg")  no-repeat center bottom;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
 }

 .logo {
  max-width: 20%;
  margin:10px 10%
}
